h3{
  font-size: 6.854rem;
  font-family: "Playfair Display SC", serif;
  font-weight: normal;
}
.card {
  display: inline-block;
  margin-right: 20rem;
  margin-top: 12rem;
  float: right;
  width: 60rem;
  height: 40rem;
  background-color: white;
  border-radius: 1.7rem;
  
}

.text {
  font-size: 3rem;
  margin-top: 2rem;
  width: 30rem;
  margin: auto;
}

#setup,
#joke {
  margin-top: 4rem;
}

#deliver {
  display: inline-block;
}

#next-btn{
  margin-top: 25rem;
  float: right;
  margin-right: 2rem;
}