.card {
  display: inline-block;
  margin-right: 20rem;
  margin-top: 3rem;
  float: right;
  background-color: transparent;
  width: 40rem;
  height: 58.4rem;
  border-radius: 1.7rem;
}

#front-img {
  width: 25rem;
  border-radius: 1.7rem;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.card-inner.flip {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.card-front {
  background-image: url(card.jpg);
  background-size: cover;
  color: black;
  border-radius: 1.7rem;
}

.card-back {
  background-color: white;
  transform: rotateY(180deg);
  border-radius: 1.7rem;
}

.h3 {
  color: #fa0118;
  font-size: 1.5rem;
  position: absolute;
  top: 33rem;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.text {
  font-size: 3rem;
  margin-top: 2rem;
  width: 30rem;
  margin: auto;
}

#setup {
  margin-top: 4rem;
}

#deliver {
  display: inline-block;
}
