#nav {
  background-color: #010375;
  width: 100%;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

#logo {
  color: #ffbc02;
  font-size: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 2rem;
  display: inline-block;
  font-weight: normal;
  font-family: "Playfair Display SC", serif;
}
.fav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: inline-block;
  float: right;
  clear: both;
  margin-right: 2rem;
}

#fav-icon {
  font-size: 1rem;
}

.form {
  display: inline-block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  float: right;
  margin-right: 2rem;
}

input {
  width: 35rem;
  height: 3.5rem;
  font-size: 1.2rem;
  border-radius: 1.5rem;
  border-style: solid;
  padding-left: 3.5rem;
  border-color: white;
}

.search-btn {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

#search-icon {
  font-size: 1.2rem;
  position: absolute;
  left: 147.5rem;
  top: 4.7rem;
  color: red;
}
