h3{
  font-size: 2rem;
  font-family: "Playfair Display SC", serif;
  font-weight: normal;
  text-align: center;
  margin-top: 5rem;
}
.card {
  display: inline-block;
  margin-right: 20rem;
  margin-top: 12rem;
  float: right;
  width: 60rem;
  height: 40rem;
  background-color: white;
  border-radius: 2rem;
}

.text {
  font-size: 2rem;
  margin-top: 2rem;
  width: 45rem;
  margin: auto;
  wrap: break-word;
  text-align: center;
}

#setup,
#joke {
  margin-top: 4rem;
}

#delivery{
  margin-top: 1.5rem;
  color: var(--blue);
}
#next-btn{
  position: absolute;
  right: 23rem;
  top: 55rem;
}