.form {
  padding-bottom: 1rem;
  margin-left: 40rem;
}

#label {
  font-size: 4.236rem;
  font-family: "EB Garamond", serif;
  color: white;
  font-weight: normal;
}

input {
  margin-top: 2rem;
  display: inline-block;
  float: left;
  width: 35rem;
  height: 3.5rem;
  font-size: 1.2rem;
  border-radius: 1.5rem;
  border-style: solid;
  padding-left: 2rem;
  border-color: white;
}



.search-result{
  font-size: 2rem;
  margin-top: 1.5rem;
}