

.form {
  display: inline-block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  float: right;
  margin-right: 2rem;
}

input {
  width: 35rem;
  height: 3.5rem;
  font-size: 1.2rem;
  border-radius: 1.5rem;
  border-style: solid;
  padding-left: 3.5rem;
  border-color: white;
}

.search-btn {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

#search-icon {
  font-size: 1.2rem;
  position: absolute;
  left: 145.25rem;
  top: 4.7rem;
  color: red;
}
