@import url(button.css);
@import url(nav.css);
@import url(categories.css);
@import url(card.css);

html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%; /* 10px*/
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: var(--background);
}


/* colors #fa7aa6, #010375, #FFBC02, #FA0118, #348AA7*/

 
#main{
  background-color: #FA0118;
}



#jotd{
  float: right;
  clear: both;
  border-style: solid;
  border-radius: 2rem;
  border-width: 0.5px;
  width: 20rem;
  height: 25rem;
}

.h3{

}