@import url(button.css);
@import url(search.css);
@import url(categories.css);
@import url(card.css);
@import url(cards.css);

html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%; /* 10px*/
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  list-style-type: inside;
}

:root{
  --red: #FA0118;
  --yellow: #FFBC02;
  --blue: #010375;
}

/* colors #fa7aa6, #010375, #FFBC02, #FA0118, #348AA7*/

#nav {
  background-color: #ffffff;
  width: 100%;
}

#logo {
  color: var(--blue);
  font-size: 3rem;
  padding-bottom: 1rem;
  margin: auto;
  text-align: center;
  font-weight: normal;
  font-family: "Playfair Display SC", serif;
}

#main {
  background-color: var(--blue);
  height: 75rem;
  width: 100%;
  display: inline-block;
  padding-top: 5rem;
}

h2 {
  font-size: 11.391rem;
  display: inline-block;
  float: left;
  margin-left: 40rem;
  margin-top: 10rem;
  font-family: "Playfair Display SC", serif;
  font-weight: normal;
  color: var(--yellow);
}


.left {
  display: inline-block;
  margin: auto;
  align-items: center;
}

#form-main {
  margin-left: 40rem;
  float: left;
}
.heart {
  font-size: 100rem;
}


/* .joke-display {
  font-size: 2rem;
  width: 100%;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 1rem;
  margin-top: 2rem;

}

#left-align{
  float: left;
  font-size: 2rem;
}
#right-align{
  float: right;
  font-size: 2rem;
} */
#setup-display {
  float: left;
  display: inline-block;
}

#display-delivery {
  display: inline-block;
  float: right;
}

.search-results{
  float: left;
  margin-left: 40rem;
  color: white;
  width: 34rem;
  font-size: 2rem;
}

#search-result-delivery{
  margin-top: 2rem;
}