@import url(button.css);
@import url(nav.css);
@import url(categories.css);
@import url(card.css);

html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%; /* 10px*/
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/* colors #fa7aa6, #010375, #FFBC02, #FA0118, #348AA7*/

#main {
  background-color: #010375;
  height: 70rem;
  width: 100%;
  display: inline-block;
}

#h1 {
  font-size: 11.391rem;
  display: inline-block;
  float: left;
  margin-left: 40rem;
  margin-top: 10rem;
  font-family: "Playfair Display SC", serif;
  font-weight: normal;
  color: white;
}

#h2 {
  font-size: 4.236rem;
  font-family: "EB Garamond", serif;
  color: white;
  font-weight: normal;
  margin-left: 40rem;
}

.left {
  display: inline-block;
  margin: auto;
  align-items: center;
}

#form-main {
  margin-left: 40rem;
  float: left;
}
.heart {
  font-size: 100rem;
}

#search-icon-main {
  position: absolute;
  top: 44rem;
  left: 41.5rem;
  font-size: 1.2rem;
  color: red;
}
